.one{
    width: 3rem;
    height: 3rem;
    background-color: rgb(42, 110, 255);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.two{
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(42, 110, 255);
    border-bottom-right-radius: 0.75rem;
}